<ion-content class="ion-padding">
  <ion-card class="welcome-card">
      <img src="/assets/banner1.jpeg" alt="" />
    </ion-card>
<div>

  <div class="ion-padding-horizontal ion-text-center">
    <h2 ion-text>
      <strong>{{labels.recuperarpass}}</strong>
    </h2>
  </div>

  <ion-item *ngIf="usertype=='V'" color="secondary">
    {{labels.recuperarpasusersmsg}}
  </ion-item>
  
  <ion-item *ngIf="usertype=='E'" color="secondary">
    {{labels.recuperarpasemailsmsg}}
  </ion-item>

  <form *ngIf="usertype=='V'" #form="ngForm" (ngSubmit)="SendUser()">
    <ion-item>
      <ion-label floating>
          <ion-icon name="contact"></ion-icon>
      </ion-label>
      <ion-input [disabled]="verificado" type="text" placeholder={{labels.usuario}} [(ngModel)]="user" name="user" required></ion-input>
    </ion-item>
    <div *ngIf="verificado==false" class="ion-margin-top ion-text-center">
      <ion-button shape="round" class="border"  type="submit" [disabled]="form.invalid" expand="block">
        {{labels.verificar}}
      </ion-button>
    </div>
  </form>

  <form *ngIf="usertype=='E'" #form="ngForm" (ngSubmit)="SendEmail()">
    <ion-item>
      <ion-label floating>
          <ion-icon name="mail"></ion-icon>
      </ion-label>
      <ion-input [disabled]="verificado" type="mail" placeholder={{labels.correoejemplo}} [(ngModel)]="email" name="mail" required></ion-input>
    </ion-item>
    <div *ngIf="verificado==false" class="ion-margin-top ion-text-center">
      <ion-button shape="round" class="border" color="primary" type="submit" [disabled]="form.invalid" expand="block">
        {{labels.verificar}}
      </ion-button>
    </div>
  </form>

  <form *ngIf="verificado" #form="ngForm" (ngSubmit)="SendCode()">
    <ion-item>
      <ion-label floating>
          <ion-icon name="checkmark-circle"></ion-icon>
      </ion-label>
      <ion-input type="text" placeholder={{labels.codigorecuperacion}} [(ngModel)]="codigo" name="codigo" required></ion-input>
    </ion-item>
    <div class="ion-margin-top ion-text-center">
      <ion-button shape="round" class="border" color="primary" type="submit" [disabled]="form.invalid" expand="block">
        {{labels.aceptar}}
      </ion-button>
    </div>
  </form>

</div>

  <ion-button (click)="back()" shape="round" class="border2" color="secondary" expand="block">
    {{labels.cancelar}}
  </ion-button>
</ion-content>