<ion-content class="ion-padding">
  
    <div class="ion-padding-horizontal ion-text-center">
        <h2 ion-text>
          <strong>Registro de Empresa</strong>
        </h2>
      </div>
  <ion-card class="welcome-card">
      <img src={{fotoUsuario}} />
    </ion-card>
<div>
    <div class="ion-padding">
        <ion-button shape="round" class="border" expand="block" (click)="openCamara()" round>CAMARA</ion-button>
        <ion-button shape="round" class="border" expand="block" (click)="openGallery()" round>GALERIA</ion-button>
    </div>
  <form #form="ngForm" (ngSubmit)="SignUp()">
      <ion-item>
          <ion-label floating>
            <ion-icon name="lock"></ion-icon>
          </ion-label>
          <ion-input type={{passtype[0]}} placeholder="Password" [(ngModel)]="ent.pass1" name="pass1" required></ion-input>
          <ion-button color="primary" item-right round (click)="seepass(0)">
            <ion-icon name={{passicon[0]}}></ion-icon>
          </ion-button>      
        </ion-item>


        <ion-item>
            <ion-label floating>
              <ion-icon name="lock"></ion-icon>
            </ion-label>
            <ion-input type={{passtype[1]}} placeholder="Confirmar Password" [(ngModel)]="ent.pass2" name="pass2" required></ion-input>
            <ion-button color="primary" item-right round (click)="seepass(1)">
              <ion-icon name={{passicon[1]}}></ion-icon>
            </ion-button>      
          </ion-item>
        <div class="ion-margin-top ion-text-center">
          <ion-button shape="round" class="border" color="primary" type="submit" [disabled]="form.invalid" expand="block">
              Enviar Solicitud
          </ion-button>
        </div>
  </form>

  
<div>
  <ion-button shape="round" class="border2" routerLink="/login" expand="block" color="secondary">Cancelar</ion-button>
  </div>
</div>
</ion-content>
