

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="activities">
      <ion-icon name="airplane"></ion-icon>
      <ion-label>{{labels.actividades}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="listrequests" *ngIf="rol=='Admin'">
      <ion-icon name="archive"></ion-icon>
      <ion-label>{{labels.solicitudes}}</ion-label>
    </ion-tab-button>

  

    <ion-tab-button tab="listcompras">
        <ion-icon name="cart"></ion-icon>
        <ion-label>{{labels.compras}}</ion-label>
      </ion-tab-button>

    <ion-tab-button tab="optionsus">
      <ion-icon name="settings"></ion-icon>
      <ion-label>{{labels.ajustes}}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

