<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{labels.calificar}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
        <img height="30%" width="100%" src={{fotoAct}} />
      <ion-card class="welcome-card">
          <ion-card-header>
              <ion-card-subtitle>{{labels.detalle}}:</ion-card-subtitle>
              <ion-card-title *ngIf="idioma=='espanol'">{{buy.nombre_esp}}</ion-card-title>
              <ion-card-title *ngIf="idioma!='espanol'">{{buy.nombre_eng}}</ion-card-title>
          </ion-card-header>
              <ion-card-content>
                <p *ngIf="idioma!='espanol'">
                  {{buy.descripcion_eng}}
                </p>
                <p *ngIf="idioma=='espanol'">
                  {{buy.descripcion_esp}}
                </p>
                <p>
                  <strong>{{labels.lugar}}:</strong> {{buy.lugar_encuentro}}
                </p>
                <p>
                  <strong>{{labels.horario}}:</strong> {{buy.horario_actividad}}
                </p>
                <p>
                  <strong>{{labels.precioTotal}}:</strong> {{buy.precio_total}} Bs.
                </p>
                <p>
                  <strong>{{labels.cupos}}:</strong> {{buy.cantidad_reservas}}
                </p>
                <p>
                  <strong>{{labels.fecha}}:</strong> {{buy.fecha_actividad}}
                </p>
              </ion-card-content>
      </ion-card>


      <ion-card (click)="entPerfil()">
        <ion-item class="activated">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>{{buy.nombre_empresa}}</ion-label>
          <ion-icon name="arrow-forward" slot="end"></ion-icon>
        </ion-item>
      </ion-card>

      <ion-card>
          <ion-card-header>
              <ion-card-subtitle>{{labels.calificar}}:</ion-card-subtitle>
          </ion-card-header>
        <ion-item align="center">
          <ion-item>
          <ion-icon name={{stars[0]}} slot="start" (click)="rate(1)"></ion-icon>
          <ion-icon name={{stars[1]}} slot="start" (click)="rate(2)"></ion-icon>
          <ion-icon name={{stars[2]}} slot="start" (click)="rate(3)"></ion-icon>
          <ion-icon name={{stars[3]}} slot="start" (click)="rate(4)"></ion-icon>
          <ion-icon name={{stars[4]}} slot="start" (click)="rate(5)"></ion-icon>
          </ion-item>
        </ion-item>
        <ion-item>
            <ion-textarea [(disabled)]="calificado" [(ngModel)]="comentario" placeholder={{labels.comentario}} name="descesp"></ion-textarea>
          </ion-item>
          <ion-button [(disabled)]="calificado" (click)="sendComment()" expand="block" fill="outline">{{labels.aceptar}}</ion-button>
      </ion-card>
    </ion-content>
  