<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{labels.empresa}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <img height="40%" width="100%" src={{linkimage}} />
      <ion-card class="welcome-card">
          <ion-card-header>
              <ion-card-title>{{ent.nombre}}</ion-card-title>
          </ion-card-header>
          <div class="ion-text-center">
              {{ent.descripcion}}
            </div>
              <ion-card-content>
                <p>
                 <strong>{{labels.pais}}:</strong> {{ent.pais}}
                </p>
                <p>
                  <strong>{{labels.ciudad}}:</strong> {{ent.ciudad}}
                </p>
                <p>
                  <strong>{{labels.telefono}}:</strong> {{ent.telefono}}
                </p>
                <p>
                  <strong>{{labels.correo}}:</strong> {{ent.correo}}
                </p>
              </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-card-header>
              <ion-card-subtitle>{{labels.calificacion}}:</ion-card-subtitle>
          </ion-card-header>
        <ion-item align="center">
          <ion-item>
          <ion-icon name={{stars[0]}} slot="start"></ion-icon>
          <ion-icon name={{stars[1]}} slot="start"></ion-icon>
          <ion-icon name={{stars[2]}} slot="start"></ion-icon>
          <ion-icon name={{stars[3]}} slot="start"></ion-icon>
          <ion-icon name={{stars[4]}} slot="start"></ion-icon>
          </ion-item>
        </ion-item>
      </ion-card>

  </ion-content>
  