<ion-content class="ion-padding">
    <ion-card class="welcome-card">
        <img src="/assets/banner1.jpeg" alt="" />
      </ion-card>
  <div>

    <div class="ion-padding-horizontal ion-text-center">
      <h2 ion-text>
        <strong>{{labels.registro}}</strong>
      </h2>
    </div>

    <form #form="ngForm" (ngSubmit)="gonext()">
      <ion-item>
        <ion-label floating>
            <ion-icon name="contact"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder={{labels.nombre}} [(ngModel)]="user.nombre" name="nombre" required></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>
              <ion-icon name="contact"></ion-icon>
          </ion-label>
          <ion-input type="text" placeholder={{labels.apellido}} [(ngModel)]="user.apellidos" name="apellido" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <ion-icon name="contact"></ion-icon>
            </ion-label>
            <ion-input type="text" placeholder={{labels.usuario}} [(ngModel)]="user.usuario" name="usuario" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>{{labels.idioma}}</ion-label>
            <ion-select (ionChange)="onChange($event)" interface="action-sheet" placeholder="Espanol">
              <ion-select-option value="espanol">{{labels.espanol}}</ion-select-option>
              <ion-select-option value="ingles">{{labels.ingles}}</ion-select-option>
            </ion-select>
          </ion-item>
          <div class="ion-margin-top ion-text-center">
            <ion-button shape="round" class="border" type="submit" color="primary" [disabled]="form.invalid" expand="block">
              {{labels.siguiente}}
            </ion-button>
          </div>
    </form>
  <div>
    <ion-button shape="round" class="border2" routerLink="/login" expand="block" color="secondary">{{labels.cancelar}}</ion-button>
    </div>
  </div>
</ion-content>
