<ion-content class="ion-padding">
    <ion-card class="welcome-card">
        <img src="/assets/banner1.jpeg" alt="" />
      </ion-card>
  <div>

    <div class="ion-padding-horizontal ion-text-center">
      <h2 ion-text>
        <strong>{{labels.registro}}</strong>
      </h2>
    </div>

    <form #form="ngForm" (ngSubmit)="gonext()">
      <ion-item>
        <ion-label floating>
            <ion-icon name="call"></ion-icon>
        </ion-label>
        <ion-input type="number" placeholder={{labels.telefono}} [(ngModel)]="user.telefono" name="telefono" required></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>
              <ion-icon name="calendar" item-start></ion-icon>
          </ion-label>
          <ion-datetime displayFormat="YYYY-MMM-DD" pickerFormat="YYYY-MMM-DD" placeholder={{labels.fechaNac}} [(ngModel)]="user.fecha_nacimiento" name="fecha" required></ion-datetime>
        </ion-item>  
        <ion-item>
            <ion-label floating>
                <ion-icon name="at"></ion-icon>
            </ion-label>
            <ion-input type="email" placeholder={{labels.correoejemplo}} [(ngModel)]="user.correo" name="correo" required></ion-input>
          </ion-item>
          <div class="ion-margin-top ion-text-center">
            <ion-button shape="round" class="border" color="primary" type="submit" [disabled]="form.invalid" expand="block">
              {{labels.siguiente}}
            </ion-button>
          </div>    
    </form>
  <div>
    <ion-button shape="round" class="border2" routerLink="/login" expand="block" color="secondary">{{labels.cancelar}}</ion-button>
    </div>
  </div>
</ion-content>
