<ion-header>
  <ion-toolbar color="primary">
      <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <ion-list>
        <ion-item (click)="Profile()">
            <ion-icon name="person" slot="end"></ion-icon>
          <ion-label>
            <h2>Perfil</h2>
          </ion-label>
        </ion-item>
        <ion-item (click)="Pass()">
            <ion-icon name="lock" slot="end"></ion-icon>
          <ion-label>
            <h2>Cambio de Password</h2>
          </ion-label>
        </ion-item>
        <ion-item (click)="SignOut()">
            <ion-icon name="power" slot="end"></ion-icon>
          <ion-label>Log Out</ion-label>
        </ion-item>
        </ion-list>
</ion-content>
