<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="welcome-card">
      <img src="/assets/banner2.jpeg" alt="" />
    </ion-card>
<div>

  <form #form="ngForm" (ngSubmit)="Confirm()">
      <ion-item>
          <ion-label floating>
            <ion-icon name="lock"></ion-icon>
          </ion-label>
          <ion-input type={{passtype[0]}} placeholder="Password Antiguo" [(ngModel)]="pass.oldpass" name="oldpass" required></ion-input>
          <ion-button color="primary" item-right round (click)="seepass(0)">
            <ion-icon name={{passicon[0]}}></ion-icon>
          </ion-button>      
        </ion-item>

        <ion-item>
            <ion-label floating>
              <ion-icon name="lock"></ion-icon>
            </ion-label>
            <ion-input type={{passtype[1]}} placeholder="Nuevo Password" [(ngModel)]="pass.newpass1" name="newpass1" required></ion-input>
            <ion-button color="primary" item-right round (click)="seepass(1)">
              <ion-icon name={{passicon[1]}}></ion-icon>
            </ion-button>      
          </ion-item>
          <ion-item>
              <ion-label floating>
                <ion-icon name="lock"></ion-icon>
              </ion-label>
              <ion-input type={{passtype[2]}} placeholder="Confirmar Password" [(ngModel)]="pass.newpass2" name="newpass2" required></ion-input>
              <ion-button color="primary" item-right round (click)="seepass(2)">
                <ion-icon name={{passicon[2]}}></ion-icon>
              </ion-button>      
            </ion-item>
        <div class="ion-margin-top ion-text-center">
            <ion-button type="submit" shape="round" class="border" color="primary" [disabled]="form.invalid" expand="block">
                CONFIRMAR
            </ion-button>
          </div>
  </form>
<div>
  <ion-button (click)=" back()" shape="round" class="border2" expand="block" color="secondary">Cancelar</ion-button>
  </div>
</div>
</ion-content>
