<ion-header>
  <ion-toolbar color="primary">
      <ion-title>{{labels.ajustes}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  
    <ion-list>
    <ion-item (click)="Profile()" [disabled]="rol!='Admin' && rol!='User'">
        <ion-icon name="person" slot="end"></ion-icon>
      <ion-label>
        <h2>{{labels.perfil}}</h2>
      </ion-label>
    </ion-item>
    <ion-item (click)="Pass()" [disabled]="rol!='Admin' && rol!='User'">
        <ion-icon name="lock" slot="end"></ion-icon>
      <ion-label>
        <h2>{{labels.cambioPass}}</h2>
      </ion-label>
    </ion-item>
    <ion-item (click)="SignOut()" *ngIf="rol=='Admin' || rol=='User'">
        <ion-icon name="power" slot="end"></ion-icon>
      <ion-label>{{labels.finSesion}}</ion-label>
    </ion-item>
    <ion-item (click)="SignIn()" *ngIf="rol!='Admin' && rol!='User'">
        <ion-icon name="key" slot="end"></ion-icon>
      <ion-label>{{labels.inicioSesion}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{labels.idioma}}</ion-label>
      <ion-select (ionChange)="onChange($event)" interface="action-sheet" placeholder={{idioma}}>
        <ion-select-option value="espanol">{{labels.espanol}}</ion-select-option>
        <ion-select-option value="ingles">{{labels.ingles}}</ion-select-option>
      </ion-select>
    </ion-item>
    </ion-list>
</ion-content>
