<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{labels.comprar}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
        <img height="30%" width="100%" src={{fotoUsuario}} />
      <ion-card class="welcome-card">
          <ion-card-header>
              <ion-card-subtitle>{{labels.detalle}}:</ion-card-subtitle>
              <ion-card-title *ngIf="idioma=='espanol'">{{activity.nombre_esp}}</ion-card-title>
              <ion-card-title *ngIf="idioma!='espanol'">{{activity.nombre_eng}}</ion-card-title>
          </ion-card-header>
          <div *ngIf="activity.dias!=null && activity.dias!='N/A'" class="ion-text-center">
              <h3><strong>{{labels.dias}}</strong></h3>
              {{activity.dias}}
            </div>
              <ion-card-content>
                <p *ngIf="idioma!='espanol'">
                  {{activity.descripcion_eng}}
                </p>
                <p *ngIf="idioma=='espanol'">
                  {{activity.descripcion_esp}}
                </p>
                <p>
                 <strong>{{labels.pais}}:</strong> {{activity.pais}}
                </p>
                <p>
                  <strong>{{labels.ciudad}}:</strong> {{activity.ciudad}}
                </p>
                <p>
                  <strong>{{labels.lugar}}:</strong> {{activity.lugar_encuentro}}
                </p>
                <p>
                  <strong>{{labels.horario}}:</strong> {{activity.horario}}
                </p>
                <p>
                  <strong>{{labels.precio}}:</strong> {{activity.precio}} Bs.
                </p>
                <p>
                  <strong>{{labels.cupos}}:</strong> {{activity.cantidad_visitantes}}
                </p>
                <p *ngIf="activity.dias==null || activity.dias=='N/A'">
                  <strong>{{labels.fecha}}:</strong> {{activity.fecha_inicio}}
                </p>

                <p *ngIf="activity.calificacion>=0">
                  <strong>{{labels.calificacion}}: </strong> 
                  {{activity.calificacion}} <ion-icon name="star"></ion-icon>
                </p>
                <p *ngIf="activity.calificacion<0">
                  <strong>{{labels.calificacion}}: </strong> 
                  0 <ion-icon name="star"></ion-icon>
                </p>
              </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-item  (click)="coments()">
            <ion-icon name="chatboxes" slot="start"></ion-icon>
            <ion-label>{{labels.comentarios}}</ion-label>
            <ion-icon name="arrow-forward" slot="end"></ion-icon>
          </ion-item>
          <ion-item (click)="entPerfil()">
              <ion-icon name="home" slot="start"></ion-icon>
              <ion-label>{{activity.nombre_empresa}}</ion-label>
              <ion-icon name="arrow-forward" slot="end"></ion-icon>
            </ion-item>
      </ion-card>

      <form #form="ngForm" (ngSubmit)="submit()">
          <ion-item>
                <h2>{{labels.fechaViaje}}:</h2>
          </ion-item>
              <ion-item>
                 <ion-label floating>
                    <ion-icon name="calendar" item-start></ion-icon>
                  </ion-label>
                  <ion-datetime max={{date3}} min={{date}} (ionChange)="totalprice()" displayFormat="YYYY-MMM-DD" pickerFormat="YYYY-MMM-DD" placeholder={{labels.fechaViaje}} [(ngModel)]="compra.date" name="fecha_inicio" required></ion-datetime>
              </ion-item>   
              
              <ion-item>
                    <h2>{{labels.cantCupos}}:</h2>
              </ion-item>
              <ion-item>
                  <ion-label floating>
                      <ion-icon name="people"></ion-icon>
                  </ion-label>
                  <ion-input class="ion-text-right" (ionChange)="totalprice()" type="number" placeholder={{labels.cupos}} [(ngModel)]="compra.cantity" name="cantity" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>
                        <ion-icon name="cash"></ion-icon>
                    </ion-label>
                    <ion-label>
                      <strong><h2>{{labels.precioTotal}}:</h2></strong><p>{{compra.price}} Bs.</p>
                    </ion-label>
                </ion-item>
            <div class="ion-margin-top ion-text-center">
              <ion-button shape="round" class="border" color="primary" type="submit" [disabled]="form.invalid" expand="block">
                {{labels.verificar}}
              </ion-button>
            </div>
      </form>
      
    
      <div>
          <ion-button [disabled]=!verify shape="round" class="border" (click)="buy()" expand="block" color="primary">{{labels.comprar}}</ion-button>
          </div>
    <div>
      <ion-button shape="round" class="border2" (click)="back()" expand="block" color="secondary">{{labels.cancelar}}</ion-button>
      </div>
  </ion-content>
  