<ion-content class="ion-padding">
  <ion-card class="welcome-card">
      <img src="/assets/banner2.jpeg" alt="" />
    </ion-card>
<div>

  <div class="ion-padding-horizontal ion-text-center">
    <h2 ion-text>
      <strong>Registro de Empresa</strong>
    </h2>
  </div>

  <form #form="ngForm" (ngSubmit)="gonext()">
    <ion-item>
      <ion-label floating>
          <ion-icon name="contact"></ion-icon>
      </ion-label>
      <ion-input type="text" placeholder="Nombre de la Empresa" [(ngModel)]="ent.nombre" name="nombre" required></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>
            <ion-icon name="locate"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder="Pais" [(ngModel)]="ent.pais" name="pais" required></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>
              <ion-icon name="navigate"></ion-icon>
          </ion-label>
          <ion-input type="text" placeholder="Ciudad" [(ngModel)]="ent.ciudad" name="ciudad" required></ion-input>
        </ion-item>
        <div class="ion-margin-top ion-text-center">
          <ion-button shape="round" class="border" color="primary" type="submit" [disabled]="form.invalid" expand="block">
              Siguiente
          </ion-button>
        </div>
  </form>

  
<div>
  <ion-button shape="round" class="border2" routerLink="/login" expand="block" color="secondary">Cancelar</ion-button>
  </div>
</div>
</ion-content>
