<ion-header class="navbar_personalizado">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button *ngIf="!buscar" (click)="search()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
        <ion-button *ngIf="buscar" (click)="search()">
          <ion-icon slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{labels.comentarios}}</ion-title>
    </ion-toolbar>
    <ion-searchbar *ngIf="buscar" color="light" type="text" placeholder={{labels.buscarComentario}} [(ngModel)]="busqueda" (ionChange)="setFilteredItems()"></ion-searchbar>
  
  </ion-header>
  
  
  <ion-content>
      <ion-item *ngIf="coments==null || coments.length==0" color="secondary">
        {{labels.noComentarios}}
      </ion-item>
      <ion-list *ngFor="let item of coments">
       <ion-item>
          <ion-avatar slot="end">
            <img src={{linkimage}}{{item.usuario_imagen}}>
            </ion-avatar>
          <ion-label>
              <h2>{{item.nombre}} {{item.apellidos}}</h2>
              <p> {{labels.comentario}}: {{item.comentario}}</p>
              <p> {{labels.fecha}}: {{item.fecha}}</p>
              <p> {{labels.calificacion}}: {{item.calificacion}} <ion-icon name="star"></ion-icon></p>
            </ion-label>
        </ion-item>
      </ion-list>
  </ion-content>
  