<ion-header class="navbar_personalizado">
    <ion-toolbar color="primary">
      <ion-buttons slot="secondary">
        <ion-button (click)="ListActivities()">
          <ion-icon slot="icon-only" name="refresh"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button *ngIf="!buscar" (click)="search()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
        <ion-button *ngIf="buscar" (click)="search()">
          <ion-icon slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
     <ion-title>{{labels.actividades}}</ion-title>
    </ion-toolbar>
    <ion-searchbar *ngIf="buscar" color="light" type="text" placeholder={{labels.buscarActividad}} [(ngModel)]="busqueda" (ionChange)="setFilteredItems()"></ion-searchbar>

  </ion-header>
  
  
  <ion-content>
      <ion-item *ngIf="activities==null || activities.length==0" color="secondary">
        {{labels.noActividades}}
      </ion-item>
      <ion-list *ngFor="let item of activities">
          <ion-item (click)="Buys(item)" >
              <ion-card>
                  <img src={{linkimage}}{{item.imagen}} />
                  <ion-card-header>
                    <ion-card-title *ngIf="idioma=='espanol'">{{item.nombre_esp}}</ion-card-title>
                    <ion-card-title *ngIf="idioma!='espanol'">{{item.nombre_eng}}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content *ngIf="idioma=='espanol'">
                      {{item.descripcion_esp}}
                      <p *ngIf="item.calificacion>=0">
                        <strong>{{labels.calificacion}}: </strong> 
                        {{item.calificacion}} <ion-icon name="star"></ion-icon>
                      </p>
                      <p *ngIf="item.calificacion<0">
                        <strong>{{labels.calificacion}}: </strong> 
                        0 <ion-icon name="star"></ion-icon>
                      </p>
                  </ion-card-content>
                  <ion-card-content *ngIf="idioma!='espanol'">
                    {{item.descripcion_eng}}
                    <p *ngIf="item.calificacion>=0">
                      <strong>{{labels.calificacion}}: </strong> 
                      {{item.calificacion}} <ion-icon name="star"></ion-icon>
                    </p>
                    <p *ngIf="item.calificacion<0">
                      <strong>{{labels.calificacion}}: </strong> 
                      0 <ion-icon name="star"></ion-icon>
                    </p>
                </ion-card-content>
                </ion-card>
          </ion-item>
      </ion-list>
  </ion-content>
  