<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{labels.password}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card class="welcome-card">
        <img src="/assets/banner1.jpeg" alt="" />
      </ion-card>
  <div>  
    <form #form="ngForm" (ngSubmit)="Confirm()">
          <ion-item>
              <ion-label floating>
                <ion-icon name="lock"></ion-icon>
              </ion-label>
              <ion-input type={{passtype[0]}} placeholder={{labels.nuevoPass}} [(ngModel)]="pass.newpass1" name="newpass1" required></ion-input>
              <ion-button color="primary" item-right round (click)="seepass(0)">
                <ion-icon name={{passicon[0]}}></ion-icon>
              </ion-button>      
            </ion-item>
            <ion-item>
                <ion-label floating>
                  <ion-icon name="lock"></ion-icon>
                </ion-label>
                <ion-input type={{passtype[1]}} placeholder={{labels.confirmPassword}} [(ngModel)]="pass.newpass2" name="newpass2" required></ion-input>
                <ion-button color="primary" item-right round (click)="seepass(1)">
                  <ion-icon name={{passicon[1]}}></ion-icon>
                </ion-button>      
              </ion-item>
          <div class="ion-margin-top ion-text-center">
              <ion-button shape="round" class="border" color="primary" type="submit" [disabled]="form.invalid" expand="block">
                {{labels.aceptar}}
              </ion-button>
            </div>
    </form>
  <div>
    <ion-button shape="round" class="border2" (click)="back()" expand="block" color="secondary">{{labels.cancelar}}</ion-button>
    </div>
  </div>
  </ion-content>
  