<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button [disabled]="edit" (click)="Edit()">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button (click)="getUser()">
          <ion-icon slot="icon-only" name="refresh"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{labels.perfil}}</ion-title>
    </ion-toolbar>
  </ion-header>




<ion-content class="ion-padding">
  <ion-card class="welcome-card">
    <img src={{fotoUsuario}}>
    </ion-card>
<div>

    <div padding>
        <ion-button [disabled]="!edit" shape="round" class="border" expand="block" (click)="openCamara()" round>{{labels.camara}}</ion-button>
        <ion-button [disabled]="!edit" shape="round" class="border" expand="block" (click)="openGallery()" round>{{labels.galeria}}</ion-button>
    </div>

  <form #form="ngForm" (ngSubmit)="editProfile()">
      <ion-item>
          <ion-label floating>
              <ion-icon name="contact"></ion-icon>
          </ion-label>
          <ion-input [disabled]="!edit" type="text" placeholder={{labels.nombre}} [(ngModel)]="user.nombre" name="nombre" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <ion-icon name="contact"></ion-icon>
            </ion-label>
            <ion-input [disabled]="!edit" type="text" placeholder={{labels.apellido}} [(ngModel)]="user.apellidos" name="apellido" required></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>
                  <ion-icon name="contact"></ion-icon>
              </ion-label>
              <ion-input [disabled]="true" type="text" placeholder={{labels.usuario}} [(ngModel)]="user.usuario" name="usuario" required></ion-input>
            </ion-item>
    <ion-item>
      <ion-label floating>
          <ion-icon name="call"></ion-icon>
      </ion-label>
      <ion-input [disabled]="!edit" type="number" placeholder={{labels.telefono}} [(ngModel)]="user.telefono" name="telefono" required></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>
            <ion-icon name="calendar" item-start></ion-icon>
        </ion-label>
        <ion-datetime [disabled]="!edit" displayFormat="YYYY-MMM-DD" pickerFormat="YYYY-MMM-DD" placeholder={{labels.fechaNac}} [(ngModel)]=user.fecha_nacimiento name="fecha" required></ion-datetime>
      </ion-item>  
      <ion-item>
          <ion-label floating>
              <ion-icon name="at"></ion-icon>
          </ion-label>
          <ion-input [disabled]="!edit" type="email" placeholder={{labels.correoejemplo}} [(ngModel)]="user.correo" name="correo" required></ion-input>
        </ion-item>
        <div class="ion-margin-top ion-text-center">
          <ion-button shape="round" class="border" color="primary" [disabled]="!edit" type="submit" [disabled]="form.invalid" expand="block">
            {{labels.aceptar}}
          </ion-button>
        </div>    
  </form>
<div>
  <ion-button shape="round" class="border2" (click)="back()" expand="block" color="secondary">{{labels.cancelar}}</ion-button>
  </div>
</div>
</ion-content>
