<ion-content class="ion-padding">
  <ion-card class="welcome-card">
      <img src="/assets/banner2.jpeg" alt="" />
    </ion-card>
<div>

  <div class="ion-padding-horizontal ion-text-center">
    <h2 ion-text>
      <strong>Registro de Empresa</strong>
    </h2>
  </div>

  <form #form="ngForm" (ngSubmit)="gonext()">
    <ion-item>
      <ion-label floating>
          <ion-icon name="call"></ion-icon>
      </ion-label>
      <ion-input type="number" placeholder="Telefono" [(ngModel)]="ent.telefono" name="telefono" required></ion-input>
    </ion-item> 
      <ion-item>
          <ion-label floating>
              <ion-icon name="at"></ion-icon>
          </ion-label>
          <ion-input type="email" placeholder="Correo@ejemplo.com" [(ngModel)]="ent.correo" name="correo" required></ion-input>
        </ion-item> 
        <ion-item>
          <ion-textarea placeholder="Descripcion de la empresa..." [(ngModel)]="ent.descripcion" name="descripcion" required></ion-textarea>
        </ion-item>  
        <div class="ion-margin-top ion-text-center">
          <ion-button shape="round" class="border" color="primary" type="submit" [disabled]="form.invalid" expand="block">
              Siguiente
          </ion-button>
        </div> 
  </form>
<div>
<ion-button shape="round" class="border2" routerLink="/login" expand="block" color="secondary">Cancelar</ion-button>
</div>

</div>
</ion-content>
