<ion-content class="ion-padding">
  <ion-card class="welcome-card">
      <img src="/assets/banner2.jpeg" alt="" />
    </ion-card>
<div>

  <div class="ion-padding-horizontal ion-text-center">
    <h2 ion-text>
      <strong>Log In Empresa</strong>
    </h2>
  </div>

  <form #form="ngForm" (ngSubmit)="SignIn()">
    <ion-item>
      <ion-label floating>
          <ion-icon name="mail"></ion-icon>
      </ion-label>
      <ion-input type="mail" placeholder="Correo@ejemplo.com" [(ngModel)]="login.correo" name="mail" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon name="lock"></ion-icon>
      </ion-label>
      <ion-input type={{passtype}} placeholder="Password" [(ngModel)]="login.pass1" name="pass" required></ion-input>
      <ion-button color="primary" item-right round (click)="seepass()">
        <ion-icon name={{passicon}}></ion-icon>
      </ion-button>      
    </ion-item>
    <div class="ion-margin-top ion-text-center">
      <ion-button shape="round" class="border" color="primary" type="submit" [disabled]="form.invalid" expand="block">
          Iniciar Sesion
      </ion-button>
    </div>
  </form>
  <div class="ion-margin-top ion-text-center">
    <a [routerLink]="[ '/signupenterpriseinfo']"><strong>Registrar Empresa</strong></a>
  </div>

  <div class="ion-margin-top ion-text-center">
    <a [routerLink]="[ '/login']"><strong>Es un Usuario Regular?</strong></a>
    </div>
    <div class="ion-margin-top ion-text-center">
      <a (click)="restorepass()"><ins><strong>Recuperar Contraseña</strong></ins></a>
      </div>
</div>
</ion-content>
