<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{labels.solicitudes}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <img height="40%" width="100%" src={{linkimage}} />
    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-title>{{ent.nombre}}</ion-card-title>
        </ion-card-header>
        <div class="ion-text-center">
            {{ent.descripcion}}
          </div>
            <ion-card-content>
              <p>
               <strong>{{labels.pais}}:</strong> {{ent.pais}}
              </p>
              <p>
                <strong>{{labels.ciudad}}:</strong> {{ent.ciudad}}
              </p>
              <p>
                <strong>{{labels.telefono}}:</strong> {{ent.telefono}}
              </p>
              <p>
                <strong>{{labels.correo}}:</strong> {{ent.correo}}
              </p>
            </ion-card-content>
    </ion-card>
<div>
    <div class="ion-margin-top ion-text-center">
      <ion-button shape="round" class="border" color="primary" (click)="ChangeState(1)" expand="block">
        {{labels.aceptar}}
      </ion-button>
    </div>
    <div class="ion-margin-top ion-text-center">
      <ion-button shape="round" class="border2" (click)="ChangeState(0)" color="secondary" expand="block">
        {{labels.rechazar}}
      </ion-button>
    </div>
</div>
</ion-content>
