

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="listactivities">
      <ion-icon name="airplane"></ion-icon>
      <ion-label>Actividades</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buzon">
      <ion-icon name="archive"></ion-icon>
      <ion-label>Buzon</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="options">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Ajustes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

