<ion-header class="navbar_personalizado">
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button (click)="ListReq()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button *ngIf="!buscar" (click)="search()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="buscar" (click)="search()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{labels.solicitudes}}</ion-title>
  </ion-toolbar>
  <ion-searchbar *ngIf="buscar" color="light" type="text" placeholder={{labels.buscarSolicitud}} [(ngModel)]="busqueda" (ionChange)="setFilteredItems()"></ion-searchbar>

</ion-header>


<ion-content>
    <ion-item *ngIf="requests==null || requests.length==0" color="secondary">
      {{labels.noSolicitudes}}
    </ion-item>
    <ion-list *ngFor="let item of requests">
        <ion-item (click)="GoReq(item)" *ngIf="item.afiliacion=='Pendiente'">
            <ion-avatar slot="end">
              <img src={{linkimage}}{{item.imagen}}>
            </ion-avatar>
            <ion-label>
                <h2>{{item.nombre}}</h2>
                <p> {{labels.descrip}}: {{item.descripcion}}</p>
                <p> {{labels.estado}}: {{item.afiliacion}}</p>
            </ion-label>
          </ion-item>
        <ion-item *ngIf="item.afiliacion=='Rechazada'">
            <ion-avatar slot="end">
              <img src={{linkimage}}{{item.imagen}}>
              </ion-avatar>
          <ion-label>
            <h2>{{item.nombre}}</h2>
            <p> {{labels.descrip}}: {{item.descripcion}}</p>
            <p> {{labels.estado}}: {{item.afiliacion}}</p>
          </ion-label>
     </ion-item>
     <ion-item *ngIf="item.afiliacion=='Aceptada'">
        <ion-avatar slot="end">
          <img src={{linkimage}}{{item.imagen}}>
          </ion-avatar>
        <ion-label>
            <h2>{{item.nombre}}</h2>
            <p> {{labels.descrip}}: {{item.descripcion}}</p>
            <p> {{labels.estado}}: {{item.afiliacion}}</p>
          </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
