<ion-header class="navbar_personalizado">
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button (click)="ListActivities()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button *ngIf="!buscar" (click)="search()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="buscar" (click)="search()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Actividades</ion-title>
  </ion-toolbar>
  <ion-searchbar *ngIf="buscar" color="light" type="text" placeholder="Buscar Actividad..." [(ngModel)]="busqueda" (ionChange)="setFilteredItems()"></ion-searchbar>
</ion-header>


<ion-content>
    <ion-item *ngIf="activities==null || activities.length==0" color="secondary">
        Usted no tiene Actividades.
    </ion-item>
    <ion-list>
        <ion-item-sliding *ngFor="let item of activities">
        <ion-item (click)="Reservations(item)" class="item item-text-wrap">
                <ion-card>
                    <img src={{linkimage}}{{item.imagen}} />
                    <ion-card-header>
                      <ion-card-title>{{item.nombre_esp}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        {{item.descripcion_esp}}
                        <p *ngIf="item.calificacion>=0">
                          <strong>Calificacion: </strong> 
                          {{item.calificacion}} <ion-icon name="star"></ion-icon>
                        </p>
                        <p *ngIf="item.calificacion<0">
                          <strong>Calificacion: </strong> 
                          0 <ion-icon name="star"></ion-icon>
                        </p>


                    </ion-card-content>
                  </ion-card>
            </ion-item>
   <ion-item-options side="start">
    <button ion-button (click)="deleteAct(item)"><ion-icon name="trash"></ion-icon></button>
    <button ion-button (click)="mofidyAct(item)"><ion-icon name="create"></ion-icon></button>
</ion-item-options>

</ion-item-sliding>
        </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button class="border2" (click)="CreateActivity()" color="secondary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
