<ion-header class="navbar_personalizado">
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button (click)="ListBuy()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button *ngIf="!buscar" (click)="search()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="buscar" (click)="search()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{labels.compras}}</ion-title>
  </ion-toolbar>
  <ion-searchbar *ngIf="buscar" color="light" type="text" placeholder={{labels.buscarCompra}} [(ngModel)]="busqueda" (ionChange)="setFilteredItems()"></ion-searchbar>

</ion-header>


<ion-content>
    <ion-item *ngIf="buys==null || buys.length==0" color="secondary">
      {{labels.noCompras}}
    </ion-item>
    <ion-list *ngFor="let item of buys">
        <ion-item (click)="calificar(item)">
            <ion-avatar slot="end">
              <img src={{linkimage}}{{item.imagen}}>
            </ion-avatar>
            <ion-label>
                <h2 *ngIf="idioma=='espanol'"><strong>{{item.nombre_esp}}</strong></h2>
                <h2 *ngIf="idioma!='espanol'"><strong>{{item.nombre_eng}}</strong></h2>
                <p> <strong>{{labels.fecha}}:</strong> {{item.fecha_actividad}}</p>
                <p> <strong>{{labels.cupos}}:</strong> {{item.cantidad_reservas}}</p>
                <p> <strong>{{labels.precio}}:</strong> {{item.precio_total}} Bs.</p>
            </ion-label>
          </ion-item>
    </ion-list>
</ion-content>
