<ion-header class="navbar_personalizado">
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button (click)="ListNotification()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button *ngIf="!buscar" (click)="search()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="buscar" (click)="search()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Buzon</ion-title>
  </ion-toolbar>
  <ion-searchbar *ngIf="buscar" color="light" type="text" placeholder="Buscar Notificacion..." [(ngModel)]="busqueda" (ionChange)="setFilteredItems()"></ion-searchbar>
</ion-header>


<ion-content>
    <ion-item *ngIf="notificaciones==null || notificaciones.length==0" color="secondary">
        Usted no tiene Notificaciones.
    </ion-item>
    <ion-list *ngFor="let item of notificaciones">
        <ion-item *ngIf="item.tipo=='Calificacion'">
            <p>{{item.mensaje}}<br/>
            <strong>Calificacion:</strong> {{item.calificacion}} <ion-icon name="star"></ion-icon><br/>
            <strong>Comentario:</strong> {{item.comentario}}</p>
            <ion-avatar slot="end">
              <img src={{linkimage}}{{item.imagen}}>
            </ion-avatar>
        </ion-item>
        <ion-item *ngIf="item.tipo=='Compra'">
            <p>{{item.mensaje}}<br/>
                <strong>Cupos:</strong> {{item.cantidad_reservas}}<br/>
                <strong>Precio:</strong> {{item.precio_total}} Bs.</p>
                <ion-avatar slot="end">
                  <img src={{linkimage}}{{item.imagen}}>
                </ion-avatar>
        </ion-item>
  </ion-list>
</ion-content>
