<ion-content class="ion-padding">
    <ion-card class="welcome-card">
        <img src="/assets/banner1.jpeg" alt="" />
      </ion-card>
  <div>

    <div class="ion-padding-horizontal ion-text-center">
      <h2 ion-text>
        <strong>{{labels.inicioSesion}}</strong>
      </h2>
    </div>

    <form #form="ngForm" (ngSubmit)="SignIn()">
      <ion-item>
        <ion-label floating>
            <ion-icon name="contact"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder={{labels.usuario}} [(ngModel)]="login.usuario" name="user" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock"></ion-icon>
        </ion-label>
        <ion-input type={{passtype}} placeholder={{labels.password}} [(ngModel)]="login.pass1" name="pass" required></ion-input>
        <ion-button item-right round (click)="seepass()">
          <ion-icon name={{passicon}}></ion-icon>
        </ion-button>
      </ion-item>
      <div class="ion-margin-top ion-text-center">
        <ion-button shape="round" class="border"  type="submit" [disabled]="form.invalid" expand="block">
          {{labels.inicioSesion}}
        </ion-button>
      </div>
    </form>

    

    <div class="ion-margin-top ion-text-center">
      <a [routerLink]="[ '/signupname']">{{labels.nuevoRegistro}}</a>
    </div>

    <div class="ion-margin-top ion-text-center">
      <a [routerLink]="[ '/loginenterprise']"><strong>{{labels.esEmpresa}}</strong></a>
      </div>
      <div class="ion-margin-top ion-text-center">
        <a (click)="restorepass()"><ins><strong>{{labels.recuperarpass}}</strong></ins></a>
        </div>
  </div>
</ion-content>




<ion-footer>
    <ion-item color="light">
        <ion-label>{{labels.idioma}}</ion-label>
        <ion-select (ionChange)="onChange($event)" interface="action-sheet" placeholder="Espanol">
          <ion-select-option value="espanol">{{labels.espanol}}</ion-select-option>
          <ion-select-option value="ingles">{{labels.ingles}}</ion-select-option>
        </ion-select>
      </ion-item>
<ion-toolbar>
    <ion-buttons slot="end">
      <ion-button  (click)="skip()" color="primary">{{labels.omitir}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
