<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button (click)="ListReserv()">
          <ion-icon slot="icon-only" name="refresh"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Compras</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
      <ion-item *ngIf="reserv==null || reserv.length==0" color="secondary">
          Esta actividad no tiene compras.
      </ion-item>
      <ion-list>
          <ion-item-sliding *ngFor="let item of reserv">
          <ion-item class="item item-text-wrap">
            <ion-avatar slot="end">
                <!--<img src="./../../../assets/banner2.jpeg">-->
                <img src={{linkimage}}{{item.imagen}}>
            </ion-avatar>
            <ion-label>
              <h2>{{item.nombre}} {{item.apellidos}}</h2>
              <p> Cantidad de compras: {{item.cantidad_reservas}}</p>
              <p> Precio Total: {{item.precio_total}} Bs.</p>
              <p> Telefono: {{item.telefono}}</p>
              <p> Fecha: {{item.fecha}}</p>
            </ion-label>
          </ion-item>
     <ion-item-options side="start">
      <button ion-button><ion-icon name="trash"></ion-icon></button>
      <button ion-button (click)="mofidyAct(item)"><ion-icon name="create"></ion-icon></button>
  </ion-item-options>
  
  </ion-item-sliding>
          </ion-list>
  </ion-content>
  