<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button [disabled]="edit" (click)="Edit()">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button (click)="getEnt()">
            <ion-icon slot="icon-only" name="refresh"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Perfil</ion-title>
    </ion-toolbar>
  </ion-header>




<ion-content class="ion-padding">
  <ion-card class="welcome-card">
      <img src={{fotoUsuario}} />
    <!--  <img src={{linkimage}}{{ent.imagen}}>-->
    </ion-card>
<div>

    <div class="ion-padding">
        <ion-button [disabled]="!edit" shape="round" class="border" expand="block" (click)="openCamara()" round>CAMARA</ion-button>
        <ion-button [disabled]="!edit" shape="round" class="border" expand="block" (click)="openGallery()" round>GALERIA</ion-button>
    </div>

  <form #form="ngForm" (ngSubmit)="editProfile()">
      <ion-item>
          <ion-label floating>
              <ion-icon name="contact"></ion-icon>
          </ion-label>
          <ion-input [disabled]="!edit" type="text" placeholder="Nombre" [(ngModel)]="ent.nombre" name="nombre" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <ion-icon name="locate"></ion-icon>
            </ion-label>
            <ion-input [disabled]="!edit" type="text" placeholder="Pais" [(ngModel)]="ent.pais" name="pais" required></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>
                  <ion-icon name="navigate"></ion-icon>
              </ion-label>
              <ion-input [disabled]="!edit" type="text" placeholder="Ciudad" [(ngModel)]="ent.ciudad" name="ciudad" required></ion-input>
            </ion-item>
    <ion-item>
      <ion-label floating>
          <ion-icon name="call"></ion-icon>
      </ion-label>
      <ion-input [disabled]="!edit" type="number" placeholder="Telefono" [(ngModel)]="ent.telefono" name="telefono" required></ion-input>
    </ion-item>
      <ion-item>
          <ion-label floating>
              <ion-icon name="at"></ion-icon>
          </ion-label>
          <ion-input [disabled]="true" type="email" placeholder="Correo@ejemplo.com" [(ngModel)]="ent.correo" name="correo" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-textarea [disabled]="!edit" placeholder="Descripcion de la empresa..." [(ngModel)]="ent.descripcion" name="descripcion" required></ion-textarea>
          </ion-item>
        <div class="ion-margin-top ion-text-center">
          <ion-button shape="round" class="border" color="primary" [disabled]="!edit" type="submit" [disabled]="form.invalid" expand="block">
              ACEPTAR
          </ion-button>
        </div>    
  </form>
<div>
  <ion-button shape="round" class="border2" (click)="back()" expand="block" color="secondary">Cancelar</ion-button>
  </div>
</div>
</ion-content>
