<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Crear</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card class="welcome-card">
      <img src={{fotoUsuario}} />
    </ion-card>
<div>
    <div class="ion-padding">
        <ion-button shape="round" class="border" expand="block" (click)="openCamara()" round>CAMARA</ion-button>
        <ion-button shape="round" class="border" expand="block" (click)="openGallery()" round>GALERIA</ion-button>
    </div>
  <form #form="ngForm" (ngSubmit)="submit()">
    <ion-item>
        <ion-label floating>
            <ion-icon name="clipboard"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder="Nombre en Espanol" [(ngModel)]="activity.nombre_esp" name="nombre_esp" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>
            <ion-icon name="clipboard"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder="Nombre en Ingles" [(ngModel)]="activity.nombre_eng" name="nombre_eng" required></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>
              <ion-icon name="navigate"></ion-icon>
          </ion-label>
          <ion-input type="text" placeholder="Ciudad" [(ngModel)]="activity.ciudad" name="ciudad" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <ion-icon name="locate"></ion-icon>
            </ion-label>
            <ion-input type="text" placeholder="Pais" [(ngModel)]="activity.pais" name="pais" required></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>
                  <ion-icon name="clock"></ion-icon>
              </ion-label>
              <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" placeholder="Horario" [(ngModel)]="activity.horario" name="hora" required></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label floating>
                    <ion-icon name="people"></ion-icon>
                </ion-label>
                <ion-input type="number" placeholder="Cantidad de personas" [(ngModel)]="activity.cantidad_visitantes" name="cantidad_visitantes" required></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label floating>
                      <ion-icon name="map"></ion-icon>
                  </ion-label>
                  <ion-input type="text" placeholder="Lugar de encuentro" [(ngModel)]="activity.lugar_encuentro" name="lugar_encuentro" required></ion-input>
                </ion-item>
              <ion-item>
                  <ion-label floating>
                      <ion-icon name="cash"></ion-icon>
                  </ion-label>
                  <ion-input type="number" placeholder="Precio" [(ngModel)]="activity.precio" name="precio" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>
                        <ion-icon name="calendar" item-start></ion-icon>
                    </ion-label>
                    <ion-datetime displayFormat="YYYY-MMM-DD" pickerFormat="YYYY-MMM-DD" placeholder="Fecha de Inicio" [(ngModel)]="activity.fecha_inicio" name="fecha_inicio" required></ion-datetime>
                  </ion-item>
                  <ion-item>
                      <ion-label position="floating">
                          <ion-icon name="information-circle"></ion-icon>
                      </ion-label>
                      <ion-textarea placeholder="Descripcion en español" [(ngModel)]="activity.descripcion_esp" name="descesp" required></ion-textarea>
                  </ion-item>

                  <ion-item>
                      <ion-label position="floating">
                          <ion-icon name="information-circle"></ion-icon>
                      </ion-label>
                      <ion-textarea placeholder="Descripcion en ingles" [(ngModel)]="activity.descripcion_eng" name="descing" required></ion-textarea>
                  </ion-item>

                  <ion-list>
                      <ion-item>
                          <ion-label>Repetir</ion-label>
                          <ion-toggle [(ngModel)]="activity.se_repite"  [ngModelOptions]="{standalone: true}"></ion-toggle>
                        </ion-item>
                      <ion-item [hidden]="!activity.se_repite" *ngFor="let entry of days">
                        <ion-label>{{entry.label}}</ion-label>
                        <ion-checkbox [ngModelOptions]="{standalone: true}" slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
                      </ion-item>
                    </ion-list>
        <div class="ion-margin-top ion-text-center">
          <ion-button shape="round" class="border" color="primary" type="submit" [disabled]="form.invalid" expand="block">
              CREAR
          </ion-button>
        </div>
  </form>

  
<div>
  <ion-button shape="round" class="border2" (click)="back()" expand="block" color="secondary">Cancelar</ion-button>
  </div>
</div>
</ion-content>
